# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# JDK and Android SDK
jdk*/
java*/
Android/Sdk/
Android/sdk/
sdk/
.android/
.android/*
